@import "../../mixins";


.nav-header {
    display: flex;
    margin-top: auto;
}
.dish-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.dish-output {
    display: flex;
    flex-wrap: wrap;
    h2 {
        text-align: center;
    }
}
.dishForToday {
    overflow-y: auto;
    height: 250px;
    font-size: 16px;

     color: $text;
}

.input-wrapper {
    margin-bottom: 20px;
}
.input-dish {
    width: 300px;
    opacity: 0.3;
    margin-left: 37%;
    outline: none;
    padding: 5px;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &::placeholder {
        color: rgb(12, 11, 11);
        font-size: 13px;
    }
}
.nav {
    display: flex;
    width: 300px;
    margin-left: auto;
}
.nav-item {
    text-decoration: none;
    margin: 20px;

    font-weight: bold;
    color: rgb(107, 89, 89);
    &:hover {
        color: rgb(56, 53, 53);
        text-decoration: underline;
    }
}
.innactiv {
    color: rgb(124, 116, 116);
    text-decoration: underline;
    &:hover {
        color: rgb(124, 116, 116);
        text-decoration: underline;
        cursor: default;
    }
}
.btn-wish {
    background-color: rgb(246, 241, 241);
    border: 1px solid rgb(167, 182, 230);
    margin-top: 18%;
    padding: 3px;
    margin-left: 51px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal {
}
.btn-modal {
    background-color: #bfddf8;
    border: 1px solid rgb(167, 182, 230);
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.recipes-btn-wrapper {
    position: relative;
}
.circul-img{
    display: flex;
    margin-top: 10px;
    align-items: center;
   img{
       margin-right: 10px;
       width: 50px;
    height: 50px;
   }

}
.dishFor{
    border-radius: 10px;
    color: $text3;
    p{
        padding-top: 5px;
      text-align: justify;
    }
}
.img-round{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    img {
        border-radius: 10px;
        width: 200px;
        height: 100px;
    }
}
