@import '../../mixins';

.button {
  width: 40px;
  height: 40px;
  color:#a89f9f;
font-size: 10px;
  border: solid 2px #ccc3c3;
  border-radius: 50%;
  background-color: #f3ecec;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#quote-box{

.text-container{
  margin-bottom: 10px;
  font-size: 25px;
@include tablet{
  font-size: 20px;
}

}
.quote-container{

  background: #504646;
}


h3{
text-align: right;

}
}
