
 .input-weather  {
     margin-bottom: 20px;
    background-color:#fafafa ;
opacity: 0.3;
    outline: none;
    border: none;
     border-bottom: 1px solid rgb(29, 28, 28);
    &::placeholder{
        color:rgb(12, 11, 11);
        font-size: 13px;

    }
    // &:focus{
    //     background-color:#6B5B5B ;
    // }
}
