@import '../../mixins.scss';
.icons {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .icon-item {
        width: 70px;
        height: 70px;
        margin: 12px;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.last {
    width: 50px;
    height: 50px;
    background: #cdc7e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: $text;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        box-shadow: $boxshadowLess;
    }
}

.modal {
    width: 400;
}
