@import '../../mixins.scss';
.icons-block {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .icon-item {
        width: 70px;
        height: 70px;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.icons-m {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .icon-item {
        width: 70px;
        height: 70px;
        margin: 10px;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.last {
    width: 50px;
    height: 50px;
    background: #cdc7e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: $text;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        box-shadow: $boxshadowLess;
    }
}

.modal {
    width: 400;

}
.h3-icon{
    color:$text3;
}
.form-icon-add{
    color: $text3;
    font-size: 16px;
    margin-top: 10px;
    .form-icon-input {
        margin-top: 5px;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        outline: none;
        border: 1px solid $text3;
    }
    .form-icon-btn{
        border-radius: 4px;
        outline: none;
        border: 1px solid $text3;
        background-color: #bfddf8;
        padding: 3px 5px;
    }
}

.own-icon{
margin-left: 10px;
font-size: 16px;
border: none;
opacity: 0.5;
color: $text3;
font-weight: bold;

}
