@import '../../mixins.scss';

.icons {

    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    > a {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        @include big{
            margin: 10px;

        }
    }
    @include big{
        padding-top: 8px;

    }
}
