/*@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');*/


.Todo {
    font-size: 15px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: space-between;
}
.addBtn {
    width: 40px;
    height: 40px;
    color:#d4cbcb;
font-size: 10px;
    border: solid 2px #504646;
    border-radius: 50%;
    background-color: #948e8e;
}

.addBtn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 0;
}

input:focus {
    outline: none;
}

select {

    padding: 10px;
    border-right: none;
    border-left: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    >option{
        font-size: 12px;
    }

}

.addBtn:focus {
    outline: none;
}

.todos-container1 {
  border: none;
  color: #ffff;
  overflow-y: auto;
  width: 500px;
  height:  100px;

}
.todos-container-item{
    display: flex;
     p{ word-wrap: break-word;
      width: 400px;

  }
}


.filter-container {
    width: 100px;
    padding: 10px;
    border-left: 1px solid #948e8e;
    border-radius: 15%;
    text-align: left;

}

.category-button {
    display: block;
    border: none;
    background-color: #504646
}

.todoNothing {
    // margin-bottom: 15px;
    // width: 40%;
}

.categories-container {
    background-color: #504646;
    color:#ecdfdf;
    border: solid 1px #504646;
    font-size: 15px;
}

  .inputToDo2 {
    background-color:#504646 ;
    outline: none;
    border: none;
     border-bottom: 1px solid #ffff;
    &::placeholder{
        color:rgb(233, 215, 215);
        font-size: 13px;}
  }
  .btn-delete{
    color: rgb(233, 215, 215);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #948e8e;
    font-size: 12px;
    border:none
  }