@import "../../constant.scss";
@import "../../mixins.scss";
.Todo {
    font-size: 15px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: space-between;
}

form {
    display: inline-block;
}
.todo_item1 {
    display: flex;
}
.addBtn {
    width: 200px;
    height: 40px;
    color: $text;
    font-size: 15px;
    box-shadow: $boxshadowInput;
    border-radius: 10px;
    background-color: $bgFilter;
    border: none;
}

.addBtn:hover {
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.addBtn:focus {
    outline: none;
}

.todos-container1 {
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    color: $text;
    overflow-y: auto;
    height: 190px;
    font-size: 20px;
}

.todos-container-item {
    display: flex;
    p {
        margin-left: 10px;
        word-wrap: break-word;
        width: 550px;
        font-style: italic;
        margin: 5px;
        @include middle{
            width: 400px;
        }
        @include tablet{
            width: 550px;
        }
        @include surface{
            width: 270px;
        }
    }
}

.filter-container {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    width: 400px;
    padding: 10px;
    color: lightcyan;
    border-radius: 10%;
}

.category-button {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-left: 5px;

    background-color: $bgFilter;
    opacity: $opacity;
    color: $text;
    height: 20px;
    &:hover{
        transform: scale(1.11);
    }
}

.todoNothing {
    font-style: italic;
}

.categories-container {
    background-color: $bg1;
    color: $text;
    // border: solid 1px #38707e;
    font-size: 15px;
    margin-left: 10px;
}

.enter-note {
    height: 130px;
    width: 200px;
    background-color: $bgFilter;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: $boxshadowInput;
    &::placeholder {
        opacity: 0.4;
        color: $text;
        font-size: 13px;
    }
}

.btn-delete {
    color: rgb(235, 49, 49);
    background-color: $bg1;
    font-size: 12px;
    border: none;
    margin-bottom: 7px;
    font-weight: bold;
}
.category-containe {
    font-size: 14px;
    @include middle {
        font-size: 12px;
    }
}
.category {
    width: 200px;
    background-color: $bgFilter;
    color: $text;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: $boxshadowInput;
}
select {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #ccc3c3;
    > option {
        font-size: 12px;
        border: none;
    }
    &:hover {
        cursor: pointer;
    }
}
