/*@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.Todo {
    font-size: 20px;
    letter-spacing: 0.1em;
    .inputToDo {
        margin-bottom: 20px;
    }
    display: flex;
    justify-content: space-between;
}

.Todo_item1 {
 padding: 1vw;
}

button {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.addBtn {
    color:#504646;
    font-weight: 600;
    border: solid 2px #504646;
    background-color: #DAB9B9;
    ;
}

input {
    padding: 10px 11px 11px 11px;
    border-right: none;
    border-bottom: 1px solid;
}

.addBtn:hover {
    box-shadow: 1px 1px 2px 0;
}

input:focus {
    outline: none;
}

select {
    padding: 10px;
    border-right: none;
    border-left: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'Open Sans', sans-serif;
}

.addBtn:focus {
    outline: none;
}

.todos-container {
    width: 40%;
}

.todo-container {
    margin: 10px;
}

.filter-container {
    width: 20%;
    padding: 10px;
    border: 1px solid green;
    border-radius: 15%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.category-button {
    display: block;
    border: none;
}

.todoNothing {
    margin-bottom: 15px;
    width: 40%;
}

.categories-container {
    background-color: #DAB9B9;
    color:#504646;
    border: solid 2px #504646;
}

.inputToDo2 {
    background-color:#504646;
    color:#DAB9B9;
}