@import "../../constant.scss";
@import "../../mixins.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dad1d1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Mono', monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

textarea {
    overflow: auto;
}

.App {
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #dad7d7;
}

::-webkit-scrollbar-thumb {
    background: #b3abcb;
}

::-webkit-scrollbar-thumb:hover {
    background: #85837f;
}

.wrapper {
    //padding: 7px;
    max-width: $big;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include middle {
        width: 1000px;
        padding: 7px;
    }
    @include tablet {
        width: 840px;
        padding: 10px;
    }
    @include surface {
       width: 560px;
        padding: 10px;
    }
    @include mobail {
        width: 340px;
        padding: 10px;
        justify-content: center;
    }
}
.cardAbsolute{
    position: relative;
}
.card {
    cursor: grab;
    height: 300px;
    box-shadow: $boxshadow;
    width: 300px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    @include middle {
        margin-top: 15px;
    }
    @include tablet {
        margin-top: 20px;
    }
    @include surface {

        margin-top: 20px;
    }
}

.header {
    height: 50px;
    background: $bg6;
    width: 100%;
    margin-bottom: 10px;
}

.title-card {
    text-transform: uppercase;
    color: $text1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    span {
        display: inline-block;
        padding: 3px 7px;
        background-color: rgba(255, 235, 205, 0.4);
        border-radius: 4px;
    }
    .title-link {
        text-transform: lowercase;
        a {
            color: #a38097;
        }
    }
}

.todo-container {
    position: relative;
    background: $bg1;
    width: $width-long;
    @include middle {
        width: $width-long-resp;
    }
    @include tablet {
        width: $width-long;
        margin-top: 0;
    }
    @include mobail {
        display: none;
    }
}

.icon-container {
    background: $bg2;
    width: $width-short;
    @include middle {
        width: $width-short-resp;
    }
    @include tablet {
        width: $width-short;
    }
    @include surface {
        width: $width-long;
    }
    @include mobail {
        width: $width-short-resp;
    }
}

.news-container {
    background: $bg3;
    width: $width-short;
    @include middle {
        width: $width-short-resp;
    }
    @include tablet {
        width: $width-short;
    }
    @include surface {
        width: $width-long;
    }
    @include mobail {
        width: $width-short-resp;
    }
}

.clock-container {
    background: $bg4;
    width: $width-short;
    @include middle {
        width: $width-short-resp;
    }
    @include tablet {
        width: $width-short;
    }
    @include surface {
        width: $width-long;
    }
    @include mobail {
        width: $width-short-resp;
    }
}

.dish-container {
    background: $bg5;
    width: $width-short;
    @include middle {
        width: $width-short-resp;
    }
    @include tablet {
        width: $width-short;
    }
    @include surface {
        width: $width-long;
    }
    @include mobail {
        width: $width-short-resp;
    }
}

.weather-container {
    background: #fff;
    width: $width-short;
    @include middle {
        width: $width-short-resp;
    }
    @include tablet {
        width: $width-short;
    }
    @include surface {
        width: $width-long;
    }
    @include mobail {
        width: $width-short-resp;
    }
}

.quote-container {
    background: $bg7;
   // width: $width-long;
    position: relative;
    @include middle {
        width: $width-long-resp;
    }
    @include tablet {
        width: $width-short;
    }
    @include surface {
        width: $width-long;
    }
    @include mobail {
        width: $width-short-resp;
    }
}

.footer {

   // height: 100px;
    background: #beb5b5;
   // width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    .footer-content {
        display: flex;
      // justify-content: space-between;
        align-items: center;

        padding-bottom: 20px;

        @include tablet {
            display: flex;
            flex-direction: column;

        }
        @include mobail {
            display: flex;
            flex-direction: column;
width: 320px;
        }

    }

    @include tablet {
     width: 840px;
    }
    @include mobail {
        width:100% ;

    }
}


// .weather-container {
//   background: #fff;
//   width: $width-short;
//   @include middle{
//     width:$width-short-resp;
//   }
//   @include tablet {
//     width: $width-short;
//    }
//    @include surface {
//     width: $width-long;
//    }
// }


