@import "../../constant.scss";
@import "../../mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
input {
  line-height: normal;
}

/**
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   *  Known issue: excess padding remains in IE 6.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
textarea {
  overflow: auto;
}

.App {
  margin: 0;
}

//style
// .mainWrapper{
//   margin-top: 6px;
//   margin-left: 8px;
// }

.wrapper {
  max-width: 1200px;
  margin: auto;
}
.row {
  margin-top: 5px;
  background-color: $bg4;
  //  outline: 8px solid rgb(255, 253, 253);
  //border-bottom: $outline;
  outline: $outline;
}
.row1 {
  height: 33.3vh;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  height: 33.3vh;
  // height: 200px;
  justify-content: start;
  // width: 100vw;
  .todo-container {
    padding: 10px;
    flex-basis: 66.7%;
    background: $bg1;
    color: rgb(236, 221, 221);
    outline: $outline;
    height: auto;
  }
  .icon-container {
    padding: 10px;
    flex-basis: 33.3%;
    background-color: $bg1;
    color: black;
    outline: $outline;
    //   @include middle{
    //     flex-basis: 30%;
    // }
  }
  .weather-container {
    padding: 10px;
    flex-basis: 33.3%;
    background: #f2f2f3;
    color: #191919;
    outline: $outline;
    position: relative;
  }
  .quote-container {
    padding: 10px;
    flex-basis: 66.7%;
    background-color: $bg3;

    color: #fff;
    outline: $outline;
    position: relative;
  }
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  // height: 33.3vh;
  height: 310px;
  justify-content: start;
  .news-container {
    padding: 10px;
    flex-basis: 33.3%;
    background-color: $bg1;
    color: rgb(250, 245, 245);
    outline: $outline;
    a {
      color: rgb(250, 245, 245);
      font-size: 25px;
      text-align: center;
      text-decoration: none;
      &:hover {
        color: burlywood;
      }
      h3 {
        margin-top: 70px;
      }
    }

  }
  .clock-container {
    padding: 10px;
    flex-basis: 33.3%;
    background-color: $bg2;
    outline: $outline;
    height: 100%;
  }
  .dish-container {
    padding: 10px;
    flex-basis: 33.4%;
    background-color: $bg5;
    color: rgb(241, 231, 231);
    font-size: 20px;
    outline: $outline;
    font-size: 12px;
    a {
      color: rgb(250, 245, 245);
      font-size: 25px;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      &:hover {
        color: burlywood;
      }
      @include middle{
        font-size: 20px;
      }
    }

  }
}

.layout-3-column{

  @include tablet{

    position: relative;
  }
  .news-container{
    @include middle{
      width: 31%;
      flex-basis: unset;

    }
    @include tablet{
     width: 100px;
     flex-basis: unset;
     flex-grow: 2;
     a {
      font-size: 20px;
      h3{
        margin: 0;
        margin-bottom: 10px;
      }
    }}
  }

  .clock-container {
    @include tablet{

  }
}
  .dish-container {
    @include middle{
      flex-grow: 2;
    }
    @include tablet{
      flex-basis: unset;
      flex-grow: 2;
  }
  }
  }