* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
input {
  line-height: normal;
}

/**
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   *  Known issue: excess padding remains in IE 6.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
textarea {
  overflow: auto;
}

.App {
  margin: 0;
}

//style
// .mainWrapper{
//   margin-top: 6px;
//   margin-left: 8px;
// }
.wrapper{
  max-width: 1200px;
  margin: auto;
}
.row{
  background-color: #1479f6;
 //  outline: 8px solid rgb(255, 253, 253);
 border-bottom: 8px solid rgb(255, 253, 253);
 height: 33.3vh;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  height: 33.3vh;
 // height: 200px;
  justify-content: start;
  // width: 100vw;
  .todo-container {
    padding: 10px;
     flex-basis: 66.7%;
    background: #5f9761;
    color: rgb(236, 221, 221);
    outline: 8px solid rgb(255, 253, 253);
    height:auto;
  }
  .icon-container {
    padding: 10px;
     flex-basis: 33.3%;
    background-color: #1479f6;
    color: black;
    outline: 8px solid rgb(255, 253, 253);
  }
  .weather-container {
    padding: 10px;
    flex-basis: 33.3%;
    background: #f2f2f3;
    color: #191919;
    outline: 8px solid rgb(255, 253, 253);
    position: relative;
  }
  .quote-container {
    padding: 10px;
     flex-basis: 66.7%;
    background-color: #d34141;

    color: #fff;
    outline: 8px solid rgb(255, 253, 253);
    position: relative;
  }
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  height: 33.3vh;
  // height: 200px;
  justify-content: start;
  .news-container {
    padding: 10px;
    flex-basis: 33.3%;
    background-color: #1479f6;
    color: rgb(250, 245, 245);
    outline: 8px solid rgb(255, 253, 253);
    a{
      color: rgb(250, 245, 245);
      font-size: 25px;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      &:hover{
        color: burlywood;
      }
    }
  }
  .clock-container {
    padding: 10px;
    flex-basis: 33.3%;
    background-color: #f6e457;
    outline: 8px solid rgb(255, 253, 253);
    height: 100%;
  }
  .dish-container {
    padding: 10px;
    flex-basis: 33.4%;
    background-color: #1479f6;
    color: rgb(241, 231, 231);
    font-size: 20px;
    outline: 8px solid rgb(255, 253, 253);
    font-size: 12px;
    a{
      color: rgb(250, 245, 245);
      font-size: 25px;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      &:hover{
        color: burlywood;
      }}
    .dishForToday{
       overflow-y : auto;
        height: 200px;
      font-size: 16px;
    }
  }
}
