@import '../../constant';
@import '../../mixins.scss';
@import '../home/homeStyle';
.modal-header {
    display: flex;
    flex-wrap: wrap;
    h3 {
        margin-left: 100px;
    }
}

.widget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-modal {
    position: relative;
    height: 300px;
    box-shadow: $boxshadow;
    width: 400px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    @include middle {
        margin-top: 15px;
    }
    @include tablet {
        margin-top: 20px;
    }
}

// .todo-container {
//     position: relative;
//     background: $bg1;
//     width: $width-long;
//     @include middle {
//         width: $width-long-resp;
//     }
//     @include tablet {
//         width: $width-long;
//         margin-top: 0;
//     }
//     @include mobail {
//         display: none;
//     }
// }
.wrapper-footer{
    // width: $big;
    // margin: auto;
    // padding-left: 10px;
    // // display: flex;
    // // flex-direction: column;
    // // justify-content: center;
    // @include middle {
    //     width: $middle;
    // }
    max-width: $big;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    @include middle {
        width: 987px;
        padding: 7px;
    }
    @include tablet {
        width: 840px;
        padding: 10px;
    }
    @include surface {
     //  width: 560px;
        padding: 10px;
    }
    @include mobail {
       width: 340px;
        padding: 10px;
        justify-content: space-between;
        flex-direction: column;
    }
}
.footer-setting{
    display: flex;
    margin-right: 20px;
}
.contacts {

    display: flex;
    flex-direction: column;
    width: 627px;
    margin-left: 290px;
@include middle{
   // width: 500px;
     margin-left: 50px;
}
@include tablet{
   // width: 500px;
   margin-top: 20px;
     margin-left: 0px;
}
@include mobail {
     width: 320px;
      padding: 10px;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }
}
.footer__contacts {


    @include mobail {
        margin-top: 10px;
        }
}
.footer__dev-desc {
    text-align: center;
color: #6e6969;
font-size: 12px;
padding-bottom: 10px;

}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
 //   justify-content: space-between;
 //   margin: 0;
 //   padding: 0;
    list-style: none;
    color:$text3;
    // @media(max-width: 700px) {
    //     flex-direction: column;
    //     margin-left: 20%;
    // }
    @include tablet {
        flex-direction: row;
    }
}

.footer__contacts-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     width: 180px;
    a{
        color:$text3;
    }

    @media(max-width: 700px) {
        width: auto;
        margin-bottom: 15px;
    }
    @include tablet {
        width: 190px;
        flex-direction: column;
    }
}

.footer__contacts-name {
   // width: 100%;
    margin: 0 0 5px 0;
    font-size: 15px;
    line-height: 20px;
    // font-weight: 600;
}

.footer__contacts-list {
    display: flex;
}

.footer__contacts-list span {
    margin: 0 5px 0 0;
}

.footer__contacts-github {
    margin-right: 10px;
}

// .footer__contacts-list a {
//     font-size: 13px;
//     line-height: 18px;
//     text-decoration: none;
//     color: #fff;
//     transition: 0.9s;
//     &:focus,
//     &:hover {
//         opacity: 0.6;
//     }









// .footer {
//     height: 110px;
//     background: $bg8;
//     width: 100%;
//     margin-bottom: 20px;
//     padding-bottom: 10px;
//     .footer-content {
//         display: flex;
//         align-items: center;
//     }
// }
// .footer__contacts {
//     margin-left: auto;
// }
// .footer__dev-desc {
//     width: 100%;
//     text-align: center;
//     margin-bottom: 15px;
//     font-size: 28px;
//     line-height: 20px;
//     @media(max-width: 700px) {
//         font-size: 20px;
//     }
// }
// .footer__contacts {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: 0;
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     @media(max-width: 700px) {
//         flex-direction: column;
//         margin-left: 20%;
//     }
// }
// .footer__contacts-item {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     width: 30%;
//     @media(max-width: 700px) {
//         width: auto;
//         margin-bottom: 15px;
//     }
// }
// .footer__contacts-name {
//     width: 100%;
//     margin: 0 0 5px 0;
//     font-size: 15px;
//     line-height: 20px;
//     // font-weight: 600;
// }
// .footer__contacts-list {
//     display: flex;
// }
// .footer__contacts-list span {
//     margin: 0 5px 0 0;
// }
// .footer__contacts-github {
//     margin-right: 10px;
// }
// .footer__contacts-list a {
//     font-size: 13px;
//     line-height: 18px;
//     text-decoration: none;
//     color: #fff;
//     transition: 0.9s;
//     &:focus,
//     &:hover {
//         opacity: 0.6;
//     }
// }