body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$text:#fff;
$text2:rgb(58, 75, 85);
// $bg1:#25456c;
 // $bg2:#1479f6;
// $bg3:#25456c;
//$bg2:#5f9761;

$bg1:#95acd6;
$bg2:#ffc150;
$bg3:#00b0ec;
$bg4:#246aee ;
$bg5:#4caf50 ;
$opacity:0.7;
$outline: 8px solid rgb(69, 108, 110);

// $col1: #1c1136 ;
// $col2: #a83252;
// $col3: #e9b68e ;
// $col4: #fce9da;
// $col5: #bcb6c7 ;

// $col1: #dc8eb6 ;
// $col2: #d7cbc7;
// $col3: #bac8d5 ;
// $col4: #7b9bb3;
// $col5: #21282f ;

// $col1: #013163 ;
// $col2: #015e7a;
// $col3: #00aab2 ;
// $col4: #c5bbcc;
// $col5: #a96b70 ;

// $col1: #e0201b ;
// $col2: #f98822;
// $col3: #ece243 ;
// $col4: #8bc7df;
// $col5: #40809b ;