// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

$text:#40739f;
$text2:rgb(58, 75, 85);
$text1:#795C6F;
$text3:#296293;

//$text3:rgb(51, 67, 83);

$bg1:#F2B8DE;
$bg2:#B5ADDE;
$bg3:#9CBCED;
$bg4:#FFE57F ;
$bg5:#A2E39E ;
$bg6:#FAEEF6 ;
$bg7:#FFB87D ;
$bg8:#cc8686; ;
$bgFilter:#f1cae4;


$opacity:0.7;
$outline: 8px solid #fff;
$boxshadowLess:0px 1px  0px 1px rgba(46, 41, 41, 0.12);
$boxshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$boxshadowInput: 0px 0px 5px 1px rgba(152, 227, 230, 0.164) inset;

$width-long:820px;
$width-short:400px;
$width-long-resp:650px;
$width-short-resp:320px;


$big: 1240px;
$middle:1100px;
$tablet: 840px;
$surface: 560px;
$mobail: 340px;



// $bg1:#246aee;
// $bg2:#ffc150;
// $bg3:#00b0ec;
// $bg4:#246aee ;
// $bg5:#4caf50 ;
// $col1: #1c1136 ;
// $col2: #a83252;
// $col3: #e9b68e ;
// $col4: #fce9da;
// $col5: #bcb6c7 ;

// $col1: #dc8eb6 ;
// $col2: #d7cbc7;
// $col3: #bac8d5 ;
// $col4: #7b9bb3;
// $col5: #21282f ;

// $col1: #013163 ;
// $col2: #015e7a;
// $col3: #00aab2 ;
// $col4: #c5bbcc;
// $col5: #a96b70 ;

// $col1: #e0201b ;
// $col2: #f98822;
// $col3: #ece243 ;
// $col4: #8bc7df;
// $col5: #40809b ;


