.add-widget{
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(255, 255, 255);
}
.iconAdd{
    display: inline-block;
    width: 20px;
    height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
//   display: flex;
//   align-items: center;
//   justify-content: center;
padding-left: 5px;
padding-top: 2px;
font-weight: bold;
  font-size: 10px;
}